* {
    font-family: 'PressStart2P';
}

.loading {
    position: fixed;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: loading 1s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes loading {
    0%, 40%, 100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
}

body {
    background-color: #5c94fc;
}

@font-face {
    font-family: "DungGeunMo";
    font-display: block;
    src: url('./font/DungGeunMo.woff');
}

@font-face {
    font-family: "PressStart2P";
    font-display: block;
    src: url('./font/PressStart2P-vaV7.woff');
}