html, body {
    position: fixed;
    overflow: hidden;
    touch-action: none;

    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    height: fill-available;

    margin: 0;
    padding: 0;
    background-color: #5c94fc;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    font-family: 'DungGeunMo' !important;
    font-size: 2vh;
}

button {
    font-family: 'DungGeunMo' !important;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    image-rendering: pixelated;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-section {
    display: flex;
}

.loading-section span {
    display: inline-block;
    margin: 0.1rem;
    animation: font-jump 2s infinite;
    animation-delay: calc(.2s * var(--i));
}

@keyframes font-jump {
    0%, 40%, 100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-2rem)
    }
}

.loading-section img {
    display: block;

    width: 15vh;
    height: 7.5vh;
    margin-top: 5vh;

    animation: cloud-move 3s linear infinite;
}

@keyframes cloud-move {
    0% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(-10vh)
    }
    75% {
        transform: translateX(10vh)
    }
    100% {
        transform: translateX(0)
    }
}

@font-face {
    font-family: 'DungGeunMo';
    font-display: block;
    src: url('font/DungGeunMo-subset.woff') format('woff');
}