* {
    font-family: 'PressStart2P', 'DungGeunMo';
}

.loading {
    position: fixed;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2vh;
}

.loading-section {
    margin-bottom: 5vh;
}

.loading-section span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: font-jump 2s infinite;
    animation-delay: calc(.2s * var(--i));
}

.loading-section img {
    display: block;
    width: 15vh;
    height: 7.5vh;
    animation: cloud-move 3s linear infinite;
}


@keyframes font-jump {
    0%, 40%, 100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-2rem)
    }
}

@keyframes cloud-move {
    0% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(-10vh)
    }
    75% {
        transform: translateX(10vh)
    }
    100% {
        transform: translateX(0)
    }
}

body {
    background-color: #5c94fc;
}

@font-face {
    font-family: 'DungGeunMo';
    font-display: block;
    src: url('../font/DungGeunMo.woff');
    unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}

@font-face {
    font-family: 'PressStart2P';
    font-display: block;
    src: url('../font/PressStart2P-vaV7.woff');
}